* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #000000;
}

body {
    background: url("../assets/img/bg.jpg") no-repeat center center;
    height: 910px;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
}

.header .container {
    display: flex;
    justify-content: flex-end;
    padding-top: 31px;
}

.nav .nav-list {
    list-style: none;
}

.nav .nav-language {
    list-style: none;
    padding-top: 14px;
    padding-right: 18px;
}

.nav-item,
.nav-language li{
    display: inline-block;
}

.features-header {
    margin-right: 15px;
}

.header .container button {
    border: none;
}

.header .container {
    position: relative;
}

.logo-camera {
    position: absolute;
    top: 20px;
    left: 21px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.logo-camera:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header .nav-item {
    margin-left: 27px;
}

.header .contacts-li {
    margin-right: 30px;
}

.header .nav-language span {
    padding-left: 6px;
    padding-right: 6px;
}

.header .nav-item .en-lang,
.header .nav-item .ru-lang {
    cursor: pointer;
}

.header .nav-list a,
.header .nav-language a{
    text-decoration: none;
    cursor: pointer;
}

.header .nav-item a,
.header .nav-language span,
.header .nav-language .switch-lang a {
    font-family: "Iter", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
}

.nav .nav-list .scale,
.nav .nav-language .scale {
    transition: transform 0.5s;
}

.nav .nav-list .scale:hover,
.nav .nav-language .scale:hover {
    transform: scale(1.2);
    color: #bdae82;
}

.header .nav-language .switch-lang .en-lang {
    color: #bdae82;
}

.scale a {
    transition-duration: 0.5s;
}

.scale a:hover {
    color: #bdae82;
    text-shadow: 0 0 5px #6b6144;
}

/*burger-menu start*/

.burger-menu {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    padding-top: 2px;
}

.burger-menu .line-burger {
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    transition: all 0.3s ease-in-out;
    margin: 10px auto;
}

#burger-menu.is-active .line-burger:nth-child(2){
    opacity: 0;
}
  
#burger-menu.is-active .line-burger:nth-child(1){
    transform: translateY(13px) rotate(45deg);
}
  
#burger-menu.is-active .line-burger:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
}

/*burger-menu finish*/

.hero {
    padding-top: 222px;
    padding-left: 81px;
    width: 36%;
}

.hero p {
    font-family: "Iter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    line-height: 40px;
}

.hero h1 {
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 33px;
}

.hero button,
.wrapper-price div button {
    width: 220px;
    height: 55px;
    margin-top: 24px;
    background-color: #bdae82;
    border: none;
    font-family: "Iter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.5s;
} 


.hero button:hover,
.wrapper-price div button:hover {
    transform: scale(1.1);
    color: #ffffff;
    box-shadow: 0px 0px 10px #00000093 inset;
}

.line-section {
    border-bottom: solid #bdae82 2px;
    width: 700px;
    margin: 0 auto;
}

h2 {
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 40px;
    font-weight: 700;
    color: #bdae82;
}

.skills {
    margin-top: 469px;
}

.skills,
.portfolio,
.video,
.price,
.contacts {
    position: relative;
}

.section-heading {
    position: absolute;
    left: 44.8%;
    top: -24px;
    background-color: #000000;
    padding: 0 20px 0 20px;
}

.skills ul {
    margin-top: 99px;
}

.skills li {
    display: inline-block;
    text-align: center;
    width: 250px;
    margin: 0 50px 0 56px;
}

.skills li:last-of-type {
    margin-left: 56px;
    margin-right: 0;
}

.skills figcaption {
    font-family: "Iter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 54px;
}

.skills ul li p {
    font-family: "Iter", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 37px;
    margin-top: 30px;
}

.portfolio {
    margin-top: 144px;
}

.portfolio .section-heading {
    left: 42.4%;
    padding: 0 20px 0 20px;
}

.portfolio ul {
    margin-top: 99px;
    text-align: center;
}

.portfolio li {
    display: inline-block;
}

.portfolio ul li button {
    width: 220px;
    height: 55px;
    background-color: #000000;
    color: #bdae82;
    border: solid #bdae82 2px;
    font-family: "Iter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.5s;
}

.portfolio ul li button:hover {
    color: #ffffff;
    box-shadow: 0px 0px 4px #ffffff inset;
    text-shadow: 0 0 5px #6b6144;
}

.portfolio .wrapper-photo {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: center;
    gap: 20px;
}

.portfolio .wrapper-photo img {
    width: 450px;
    height: 560px;
    transition-duration: 0.5s;
}

.portfolio .wrapper-photo img:hover {
    box-shadow: 0px 0px 25px #bdae82;
    border-radius: 5%;
    transform: rotate(0.5deg);
}

.video {
    margin-top: 135px;
}

.video .video-player {
    padding-top: 99px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video .video-player .logo-play {
    position: absolute;
    cursor: pointer;
    background: none;
    border: none;
    transition-duration: 0.5s;
}

.video .video-player .logo-play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.price {
    margin-top: 140px;
}

.price .section-heading {
    left: 45.1%;
}

.price .wrapper-price {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
    gap: 25px;
}

.price .wrapper-price span {
    display: block
}

.price .wrapper-price div {
    text-align: center;
    width: 450px;
    height: 505px;
    border: solid #BDAE82 3px;
}

.wrapper-price h3 {
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 50px;
}

.wrapper-price .cost {
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 24px;
    font-weight: 700;
    color: #BDAE82;
    padding-top: 42px;
    padding-bottom: 25px;
}

.wrapper-price span {
    font-family: "Iter", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 36px;
}

.wrapper-price div button {
    margin-top: 39px;
}

.contacts {
    background: url('../assets/img/contacts-bg.jpg') no-repeat center center;
    height: 700px;
    width: auto;
    margin-top: 100px;
}

.wrapper-contacts {
    float: right;
    padding-top: 75px;
    padding-right: 9px;
}

.wrapper-contacts form input:focus,
.wrapper-contacts form textarea:focus,
#button-message:focus {
    outline: none;
}

.wrapper-contacts form {
    overflow: hidden;
    width: 460px;
    padding-top: 59px;
}

.wrapper-contacts form input {
    width: 450px;
    height: 50px;
    background: transparent;
    border: solid #bdae82 2px;
    margin-bottom: 20px;
    padding-left: 19px;
    padding-top: 3px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

#textarea {
    resize: none;
    width: 450px;
    height: 100px;
    padding-left: 19px;
    padding-top: 12px;
    font-family: "Iter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    background: transparent;
    border: solid #bdae82 2px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
  }

.wrapper-contacts form #button-message {
    width: 220px;
    height: 55px;
    margin-top: 24px;
    background-color: #bdae82;
    border: none;
    font-family: "Iter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 25px;
    color: #000000;
    padding: 0;
    transition-duration: 0.5s;
}

.wrapper-contacts form #button-message:hover {
    transform: scale(0.9);
    color: #ffffff;
    box-shadow: 0px 0px 10px #00000093 inset;
}


.footer {
    height: 150px;
    font-family: "Iter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.wrapper-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
}

.wrapper-footer div {
    margin: 0 20px 0 20px;
}

.footer li {
    display: inline-block;
    margin-left: 14px;
}

.footer li img {
    width: 32px;
    height: 32px;
    transition-duration: 0.5s;
}

.footer li img:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.rsschool-link {
    padding-left: 15px;
}

.date-of-development span {
    padding-right: 15px;
    padding-left: 3px;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.wrapper-footer div a {
    transition-duration: 0.5s;
    transition: 0.5s;
}

.wrapper-footer div a:hover {
    color: #bdae82;
}


/* ------- breakpoints ------- */


@media (max-width:1460px){

    .container{
        max-width: 1200px;
        width: auto;
    }

    .hero {
        padding-left: 21px;
    }

    .skills {
        margin-top: 435px;
    }

    .skills ul {
        text-align: center;
    }

    .skills li {
        margin: 0 50px 0 50px;
    }
    
    .skills li:last-of-type {
        margin-left: 0px;
        margin-top: 50px;
    }
    
    .skills figcaption {
        margin-top: 44px;
    }
    
    .skills ul li p {
        margin-top: 25px;
    }

    .portfolio,
    .video,
    .price {
        margin-top: 105px;
    }

    .video-player .video-img {
        width: 100%;
    }

    .price .wrapper-price div {
        width: 400px;
        height: 505px;
    }

    .footer {
        height: 100px;
    }

    .wrapper-footer {
        padding-top: 40px;
    }
}


@media (max-width:1200px){

    .container{
        max-width: 100%;
        width: auto;
    }

    .header .container {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        align-items: flex-end;
        padding-right: 40px;
    }

    .nav-item {
    display: block;
    }

    .nav {
        margin-right: 0px;
    }

    .features-header {
        padding-top: 15px;
        margin-right: 30px;
    }

    .nav .nav-language {
        padding-right: 0;
    }

    .nav .nav-list .scale:hover,
    .nav .nav-language .scale:hover {
    transform: none;
    }

    .header .contacts-li {
        margin-right: 0px;
    }

    .nav-list .nav-item {
        margin-top: 15px;
    }

    .header .nav-item a {
        font-size: 26px;
    } 

    .logo-camera {
        left: 40px;
    }

    .hero {
        padding-top: 130px;
        padding-left: 40px;
        width: 50%;
    }

    .skills ul li,
    .skills ul li:last-of-type {
        margin: 50px 50px 0 50px;
    }

    .portfolio li {
        padding-bottom: 4px;
    }

    .video-player .video-img {
        width: 100%;
    }

    .price .wrapper-price div {
        width: 360px;
    }
}


@media (max-width:769px){

    body {
        background: url("../assets/img/bg.jpg");
        height: 590px;
        background-position: -5px -30px;
        background-size: auto 620px;
    }

    .container{
        width: auto;
    }

    .header .container {
        padding-right: 20px;
    }

    .features-header {
        display: flex;
        flex-direction: row;
        padding-top: 4px;
        margin: 0;
    }

    .nav-language {
        align-self: center;
    }

    .nav {
        display: flex;
        margin-right: 0;
    }

    .nav-language {
        margin-right: 21px;
    }

    .nav-language li span {
        margin: 0 7px;
    }

    .logo-camera {
        left: 60px;
    }

    .hero {
        padding-top: 110px;
        padding-left: 60px;
        width: 60%;
    }

    .hero h1 {
        font-size: 36px;
        font-weight: 400;
    }
    
    .hero p {
        line-height: 24.2px;
    }
    
    .hero button,
    .wrapper-price div button {
        margin-top: 60px;
    } 

    .line-section {
        width: 364px;
        margin: 0 auto;
    }
    
    h2 {
        font-size: 36px;
    }
    
    .skills {
        margin-top: 269px;
    }

    .section-heading {
        left: 41.8%;
        top: -20px;
    }

    .skills ul {
        margin-top: 49px;
    }
    
    .skills ul li,
    .skills ul li:last-of-type {
        width: 290px;
        height: 224px;
        margin: 35px 25px 0 25px;
    }

    .skills figcaption {
        margin-top: 34px;
    }
    
    .skills ul li p {
        line-height: 22px;
        margin-top: 30px;
    }

    .portfolio {
        margin-top: 160px;
    }
    
    .portfolio .section-heading {
        left: 38.5%;
        padding: 0 20px 0 20px;
    }
    
    .portfolio ul {
        margin-top: 90px;
        width: 450px;
        height: 120px;
        margin-left: calc(50% - 450px/2);
    }

    .portfolio .wrapper-photo {
        padding-top: 55px;
        gap: 20px;
    }

    .video {
        margin-top: 118px;
    }

    .video-player .video-img {
        width: 100%;
        height: 418px;
    }
    
    .video .video-player {
        padding-top: 89px;
    }
    
    .logo-play img {
        width: 65px;
        height: 65px;
    }

    .price {
        margin-top: 119px;
    }
    
    .price .section-heading {
        left: 42.1%;
    }
    
    .price .wrapper-price {
        margin-top: 89px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .price .wrapper-price div {
        width: 420px;
    }

    .wrapper-price h3 {
        font-size: 32px;
        padding-top: 48px;
    }
    
    .wrapper-price .cost {
        padding-top: 40px;
    }

    .wrapper-price div button {
        margin-top: 39px;
    }

    .contacts {
        background: url('../assets/img/contacts-bg.jpg') no-repeat;
        height: 600px;
        margin-top: 80px;
        background-position: -233px 0px;
        background-size: auto 600px;
    }

    .wrapper-contacts {
        width: 460px;
        padding-top: 70px;
        padding-right: 0;
        text-align: center;
        float: none;
        margin-left: calc(50% - 460px / 2);
    }

    .wrapper-contacts form {
        padding-top: 53px;
    }

    .footer {
        height: 190px;
    }
    
    .wrapper-footer {
        display: flex;
        flex-direction: column;
        padding-top: 28px;
        align-items: center;
    }

    .date-of-development span:first-of-type {
        padding-left: 5px;
    }

    .date-of-development span {
        padding-right: 15px;
        padding-left: 5px;
    }
    
    .wrapper-footer div {
        margin: 0 0 16px 0;
        padding: 0;
    }

    .wrapper-footer div:last-of-type {
        margin-top: 15px;
        padding-right: 10px;
    }

    /*----burger-menu realization----*/

    .header .nav-item a {
    font-size: 34px;
    line-height: 74px;
    }

    .nav {
        z-index: 5;
        position: fixed;
        right: -620px;
        gap: 0;
        top: 0;
        background-color: #000000;
        background-size: auto;
        width: 620px;
        height: 100%;
        text-align: flex-start;
        transition: all 0.3s;
    }

    .nav-list {
        flex-direction: column;
        margin-top: 120px;
        margin-left: 100px;
        position: absolute;
    }

    .nav.is-active {
        right: 0;
    }

    .burger-menu {
        display: block;
        padding-right: 94px;
        z-index: 10;
    }

    /*------------*/
}

@media (max-width:621px){

    .nav {
        width: 100%;
    }

    .video-player .video-img {
        height: auto;
    }
}

@media (max-width:600px){

    .burger-menu {
        display: block;
        padding-right: 115px;
    }

    .section-heading {
        left: 39.8%;
    }

    .portfolio .section-heading {
        left: 36.4%;
    }

    .price .section-heading {
        left: 40.1%;
    }
}

@media (max-width:480px){

    .container {
        max-width: 100%;
    }

    .header .nav-item a {
        font-size: 32px;
    }  

    .burger-menu {
        padding-right: 70px;
    }

    .logo-camera {
        left: 20px;
    }

    .hero {
        padding-left: 20px;
    }

    .line-section {
        width: 98%;
    }

    .skills {
        margin-top: 150px;
    }

    .skills .section-heading {
        left: 30.8%;
    }

    .skills ul li,
    .skills ul li:last-of-type {
        width: 250px;
        margin: 0;
        padding-top: 20px;
    }

    .skills ul li figcaption {
        margin-top: 10px;
    }

    .skills ul li p {
        margin-top: 10px;
    }

    .portfolio {
        margin-top: 80px;
    }

    .portfolio .section-heading {
        left: 23%;
    }

    .portfolio ul {
        padding-top: 60px;
        width: 98%;
        height: 220px;
        margin: 0 auto;
    }

    .portfolio .wrapper-photo {
        flex-wrap: wrap;
        padding-top: 100px;
        gap: 5px;
    }

    .portfolio .wrapper-photo img {
        width: 290px;
        height: auto;
    }

    .video .section-heading {
        left: 30%;
    }

    .price .section-heading {
        left: 33%;
    }

    .price .wrapper-price div {
        width: 96%;
        height: 505px;
    }

    .contacts .wrapper-contacts {
        width: 98%;
        float: right;
    }

    .wrapper-contacts form {
        width: 96%;
    }

    .wrapper-contacts form input,
    .wrapper-contacts form #textarea {
        width: 90%;
    }
}